apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  dex.config: |
    connectors:
    - type: authproxy
      id: oauth2-proxy
      name: OAuth2-Proxy
      config:
        userHeader: X-Auth-Request-User
        emailHeader: X-Auth-Request-Email
