replicas: 1

image:
  repository: cloudflare/cloudflared
  # tag defaults to Chart.appVersion
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 10m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
