# MetalLB Configuration
# Docs: https://metallb.io/configuration/
#
# IMPORTANT: Adjust addresses to match your network!
# Example: 192.168.8.240-192.168.8.250 for 192.168.8.0/24 subnet
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
  addresses:
    - 192.168.8.240-192.168.8.250
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
spec:
  ipAddressPools:
    - default-pool
