apiVersion: v1
kind: Namespace
metadata:
  name: velero
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: velero-s3-credentials
  namespace: velero
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-shared
  target:
    name: velero-s3-credentials
    creationPolicy: Owner
    template:
      data:
        cloud: |
          [default]
          aws_access_key_id={{ `{{ .accessKeyId }}` }}
          aws_secret_access_key={{ `{{ .secretAccessKey }}` }}
  data:
    - secretKey: accessKeyId
      remoteRef:
        key: S3_ACCESS_KEY_ID
    - secretKey: secretAccessKey
      remoteRef:
        key: S3_SECRET_ACCESS_KEY
