# Tailscale Service to expose NGINX Ingress Controller to tailnet
# Docs: https://tailscale.com/kb/1439/kubernetes-operator-cluster-ingress
apiVersion: v1
kind: Service
metadata:
  name: nginx-tailscale
  namespace: ingress-nginx
  annotations:
    tailscale.com/hostname: "internal"
spec:
  type: LoadBalancer
  loadBalancerClass: tailscale
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/component: controller
  ports:
    - name: https
      port: 443
      targetPort: https
      protocol: TCP
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
