# =============================================================================
# GLOBAL VALUES - CHANGE THESE FOR YOUR SETUP
# =============================================================================

# -----------------------------------------------------------------------------
# ArgoCD Spec
# -----------------------------------------------------------------------------
spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: git@github.com:mshykhov/example-infrastructure.git
    targetRevision: master

# -----------------------------------------------------------------------------
# Deploy Repository - contains service Helm charts
# -----------------------------------------------------------------------------
deploy:
  repoURL: git@github.com:mshykhov/example-deploy.git
  targetRevision: master

# -----------------------------------------------------------------------------
# Global Configuration (shared across all apps)
# -----------------------------------------------------------------------------
global:
  # Tailscale
  tailnet: tail876052
  tailscale:
    clientId: kZUmGQedYj11CNTRL

  # Auth0 OIDC
  auth0:
    domain: dev-tgrsoxiakeqdr1gg.us.auth0.com
    clientId: wsZ3vIm5FlxztPisdo3Jq5BaeJvASZrz

  # Docker Hub
  dockerhub:
    username: shykhovmyron

  # Cloudflare Tunnel
  cloudflare:
    tunnelId: f6746974-5104-49ef-beed-c66a048f5062


