apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: oauth2-proxy
  namespace: oauth2-proxy
spec:
  ingressClassName: nginx
  rules:
    {{- range $name, $service := .Values.services }}
    {{- if $service.enabled }}
    - host: {{ $name }}.{{ $.Values.tailnet }}.ts.net
      http:
        paths:
          - path: /oauth2
            pathType: Prefix
            backend:
              service:
                name: oauth2-proxy
                port:
                  number: 80
    {{- end }}
    {{- end }}
