{{- range $name, $service := .Values.services }}
{{- if $service.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}-tailscale
  namespace: ingress-nginx
  annotations:
    tailscale.com/hostname: {{ $name | quote }}
spec:
  type: LoadBalancer
  loadBalancerClass: tailscale
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/component: controller
  ports:
    - name: http
      port: 443
      targetPort: http
      protocol: TCP
{{- end }}
{{- end }}
