apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: tailscale-oauth
  namespace: tailscale
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-shared
  target:
    name: tailscale-oauth
    creationPolicy: Owner
  data:
    - secretKey: client_id
      remoteRef:
        key: TS_OAUTH_CLIENT_ID
    - secretKey: client_secret
      remoteRef:
        key: TS_OAUTH_CLIENT_SECRET
