apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  url: https://argocd.{{ .Values.global.tailnet }}.ts.net
  oidc.config: |
    name: Auth0
    issuer: https://{{ .Values.global.auth0.domain }}/
    clientID: $auth0-oidc-credentials:client-id
    clientSecret: $auth0-oidc-credentials:client-secret
    requestedScopes:
      - openid
      - profile
      - email
      - groups
    requestedIDTokenClaims:
      groups:
        essential: true
    logoutURL: https://{{ .Values.global.auth0.domain }}/v2/logout?client_id={{ .Values.global.auth0.clientId }}&returnTo=https://argocd.{{ .Values.global.tailnet }}.ts.net
